<h2>Plots</h2>

<% Plot.all.each do |plot| %>
  <p><b>Plot Number: <%= plot.number %></b></p>
  <ul>
    <% plot.plants.each do |plant| %>
      <li><%= plant.name %></li>
    <% end %>
  </ul>
<% end %>
